        .sidebar {
            position: fixed;
        }

        .main-content {
            margin-left: 260px;
            flex: 1;
            height: 100%;
            background-image: radial-gradient(#252525 1px, transparent 1px);
            background-size: 30px 30px;
            display: flex; 
            flex-direction: column;
            align-items: center; 
            position: relative;
        }

        .top-header {
           display: flex;
           width: 100%;
            justify-content: flex-start;
            margin-left: 20px;
            margin-bottom: 30px;
            gap: 20px;
        }

        .section-title {
            width: 100%;
        }
        
        .map-container {
            position: relative;
            width: 800px;
            height: 600px;
            background-image: radial-gradient(#252525 1px, transparent 1px);
            background-size: 30px 30px;
            border-radius: 20px;
            border: 1px solid #333;
            box-shadow: 0 10px 30px rgba(0,0,0,0.5);
            margin-top: 60px; 
        }

        .paths-svg {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            pointer-events: none;
            z-index: 0;
        }

        .map-node {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: transform 0.2s ease;
            z-index: 2;
        }
        .map-node:hover { transform: scale(1.1); }

        .building-box {
            width: 100px;
            height: 100px;
            background: #1e1e1e;
            border: 2px solid #fff;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            box-shadow: 0 8px 0 #000;
            position: relative;
        }

        .label {
            margin-top: 15px;
            font-weight: 800;
            font-size: 16px;
            background: #121212;
            padding: 4px 8px;
            border-radius: 4px;
            border: 1px solid #333;
        }

        .wifi-indicator {
            position: absolute;
            top: -25px;
            right: -15px;
            font-size: 24px;
            background: #121212;
            border-radius: 50%;
            padding: 5px;
            border: 2px solid #121212;
            z-index: 99;
        }
        .wifi-good { color: #3498db; }
        .wifi-bad { color: #e74c3c; width:45px; }

        .bus-stop {
            position: absolute;
            top: 360px;
            left: 420px;
            width: 60px;
            height: 60px;
            background-color: #2ecc71;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: #121212;
            cursor: pointer;
            border: 3px solid #27ae60;
            box-shadow: 0 0 15px rgba(46, 204, 113, 0.4);
            z-index: 3;
            transition: 0.2s;
        }
        .bus-stop:hover { transform: scale(1.15); }

        #pc-node { top: 150px; left: 350px; }
        #bib-node { top: 400px; left: 100px; }
        #sec-node { top: 80px; left: 600px; }

        .modal-overlay {
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(0,0,0,0.8);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 999;
            backdrop-filter: blur(5px);
        }

        .modal-content {
            background: #1e1e1e;
            padding: 30px;
            border-radius: 16px;
            width: 500px;
            border: 1px solid #444;
            position: relative;
            box-shadow: 0 20px 50px rgba(0,0,0,0.5);
            animation: slideUp 0.3s ease;
        }

        @keyframes slideUp {
            from { transform: translateY(20px); opacity: 0; }
            to { transform: translateY(0); opacity: 1; }
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #333;
            padding-bottom: 15px;
        }

        .close-btn {
            background: none;
            border: none;
            color: #aaa;
            font-size: 24px;
            cursor: pointer;
        }
        .close-btn:hover { color: #fff; }

        .floor-plan-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
        .room {
            background: #252525;
            border: 2px dashed #444;
            padding: 20px;
            text-align: center;
            border-radius: 8px;
            color: #ddd;
        }
        .room i { font-size: 20px; display: block; margin-bottom: 5px; color: #555; }
        
        .bus-table {
            width: 100%;
            border-collapse: collapse;
        }
        .bus-table th { text-align: left; color: #888; padding: 10px; border-bottom: 1px solid #333; }
        .bus-table td { padding: 12px 10px; border-bottom: 1px solid #252525; }
        
        .status-passed { color: #e74c3c; opacity: 0.6; text-decoration: line-through; }
        .status-coming { color: #2ecc71; font-weight: bold; }